In [89]:
import numpy as np
import pandas as pd
import warnings

# Suppress specific DeprecationWarning
warnings.filterwarnings("ignore", category=DeprecationWarning)
%run helper.ipynb

In [6]:
term_info_df = pd.read_csv(r"/data0/larc/LARC Student_LARC_20230125_STDNT_TERM_INFO.csv", low_memory=False)
student_info_df = pd.read_csv("/data0/larc/LARC Student_LARC_20230125_STDNT_INFO.csv", low_memory=False)
# class_info_df = pd.read_csv("/data0/larc/LARC Student_LARC_20230125_STDNT_TERM_CLASS_INFO.csv", low_memory=False)
transfer_info_df = pd.read_csv("/data0/larc/LARC Student_LARC_20230125_STDNT_TERM_TRNSFR_INFO.csv", low_memory=False)

In [7]:
# Get First-Year / Transfer Dataframe
relevant_student_df = get_student_df(student_info_df, include_transfer=False, include_nan=False, term_cut="FA 2022")

In [62]:
#term_info_df_test = term_info_df.sort_values(by=['STDNT_ID', 'TERM_SHORT_DES'])
add_gpa_df = add_cum_gpa_col(relevant_student_df, term_info_df)
print(add_gpa_df[['FIRST_YR_CUM_GPA']])

        FIRST_YR_CUM_GPA
0                  2.561
1                  3.584
2                  3.420
3                  2.800
4                  3.343
...                  ...
198569             2.852
198570             0.000
198571             2.203
198572             3.203
198573             3.573

[198574 rows x 1 columns]

In [63]:
add_cum_credits_df = add_credits_taken_col(add_gpa_df, term_info_df)
print(add_credits_df['FIRST_YR_TAKEN_CREDITS'])

0         40.0
1         26.0
2         32.0
3         56.0
4         32.0
          ...
198569    36.0
198570    34.0
198571    27.0
198572    29.0
198573    31.0
Name: FIRST_YR_TAKEN_CREDITS, Length: 198574, dtype: float64

In [90]:
add_first_gen_df = add_first_gen_col(add_cum_credits_df)

add_age_df = add_age_col(add_first_gen_df)

add_transfer_credits_df = add_transfer_credits_col(add_age_df, transfer_info_df)

add_max_sat_df = add_max_sat_col(add_transfer_credits_df)

add_income_df = fill_income_col(add_max_sat_df, 'nan')

add_major_df = add_major_col(add_income_df, term_info_df)

In [92]:
test = add_major_df[['STDNT_INTL_IND', 'STDNT_NTV_ENG_SPKR_IND', 'FIRST_US_PRMNNT_RES_PSTL_5_CD', 'PRNT_MAX_ED_LVL_DES', 'FIRST_TERM_ATTND_SHORT_DES',
                      'STARTING_AGE', 'IS_FIRST_GEN', 'TRANSFER_CREDITS', 'MAX_SAT_SCR', 'EST_GROSS_FAM_INC_DES', 'FIRST_YR_CUM_GPA', 
                      'FIRST_YR_TAKEN_CREDITS', 'HS_GPA', 'HS_CALC_IND', 'HS_CHEM_LAB_IND', 'PGM_1_MAJOR_1_CIP_DES', 'FIRST_UG_ENTRY_TYP_DES']]
print(test.dropna())

        STDNT_INTL_IND  STDNT_NTV_ENG_SPKR_IND FIRST_US_PRMNNT_RES_PSTL_5_CD  \
6                    0                       0                         17110
7                    0                       1                         49085
8                    0                       1                         22207
9                    0                       0                         06518
10                   0                       1                         43566
...                ...                     ...                           ...
198560               0                       0                         48323
198562               0                       1                         49103
198564               0                       1                         07090
198571               0                       1                         48631
198572               0                       1                         48197

           PRNT_MAX_ED_LVL_DES FIRST_TERM_ATTND_SHORT_DES  STARTING_AGE  \
6       Professional Doctorate                    FA 2019          18.0
7       Professional Doctorate                    FA 2010          18.0
8                 Some College                    FA 2018          18.0
9            Bachelor's degree                    FA 2012          18.0
10           Bachelor's degree                    FA 2014          19.0
...                        ...                        ...           ...
198560         Master's degree                    FA 2016          18.0
198562               Doctorate                    SU 2021          18.0
198564  Professional Doctorate                    FA 2021          18.0
198571      Associate's degree                    FA 2013          18.0
198572         Master's degree                    FA 2014          19.0

        IS_FIRST_GEN  TRANSFER_CREDITS  MAX_SAT_SCR EST_GROSS_FAM_INC_DES  \
6                0.0               4.0       1420.0     $50,000 - $74,999
7                0.0               3.0       1340.0     $50,000 - $74,999
8                0.0               3.0       1310.0   $100,000 - $149,999
9                0.0               5.0       1370.0   $100,000 - $149,999
10               0.0               4.0       1500.0   $100,000 - $149,999
...              ...               ...          ...                   ...
198560           0.0               4.0       1540.0    More than $200,000
198562           0.0               3.0       1250.0   $150,000 - $199,999
198564           0.0               1.0       1390.0            Don't Know
198571           0.0               4.0       1110.0     $75,000 - $99,999
198572           0.0               4.0       1400.0   $100,000 - $149,999

        FIRST_YR_CUM_GPA  FIRST_YR_TAKEN_CREDITS  HS_GPA  HS_CALC_IND  \
6                  3.748                    31.0    3.90            0
7                  2.829                    36.0    3.76            1
8                  3.376                    30.0    3.70            1
9                  3.468                    16.0    3.80            1
10                 3.525                    31.0    4.00            1
...                  ...                     ...     ...          ...
198560             2.738                    33.0    3.60            1
198562             3.700                     6.0    3.90            1
198564             4.000                    18.0    3.80            1
198571             2.203                    27.0    2.90            0
198572             3.203                    29.0    3.80            1

        HS_CHEM_LAB_IND                              PGM_1_MAJOR_1_CIP_DES  \
6                     0  Liberal Arts and Sciences, General Studies and...
7                     1  Liberal Arts and Sciences, General Studies and...
8                     1  Liberal Arts and Sciences, General Studies and...
9                     1  Liberal Arts and Sciences, General Studies and...
10                    1  Liberal Arts and Sciences, General Studies and...
...                 ...                                                ...
198560                1                               Engineering, General
198562                0        Sport and Fitness Administration/Management
198564                0  Liberal Arts and Sciences, General Studies and...
198571                0            Multi-/Interdisciplinary Studies, Other
198572                0  Liberal Arts and Sciences, General Studies and...

       FIRST_UG_ENTRY_TYP_DES
6                  First-Year
7                  First-Year
8                  First-Year
9                  First-Year
10                 First-Year
...                       ...
198560             First-Year
198562             First-Year
198564             First-Year
198571             First-Year
198572             First-Year

[80155 rows x 17 columns]

In [93]:
test = test.dropna()
target_df = generate_reenroll_target(test, term_info_df)
print(target_df)

KeyError: 'STDNT_ID'

In [77]:
sd_id_1 = target_df[target_df == 1]
sd_id_0 = target_df[target_df == 0]
print("Number of Re-Enroll First-Year: ", len(sd_id_1))
print("Numer of Not Re-Enroll First-Year: ", len(sd_id_0))
# match = term_info_df[term_info_df['STDNT_ID'] == 367959]
# print(match)

Number of Re-Enroll First-Year:  79040
Numer of Not Re-Enroll First-Year:  1120

In [66]:
income_df = fill_income_col(relevant_student_df, 'zip_mode')
print(income_df[income_df['STDNT_ID'] == 250287][['EST_GROSS_FAM_INC_DES']])

       EST_GROSS_FAM_INC_DES
409374     Less than $25,000

In [28]:
add_age_df = add_age_col(relevant_student_df)
print(add_age_df[add_age_df['STARTING_AGE'] > 90][['FIRST_TERM_ATTND_BEGIN_YR_MO', 'STDNT_BIRTH_YR']])

       FIRST_TERM_ATTND_BEGIN_YR_MO  STDNT_BIRTH_YR
346738                      1997/06          1900.0

In [36]:
add_transfer_credits_df = add_transfer_credits_col(relevant_student_df, transfer_info_df)
print(add_transfer_credits_df['TRANSFER_CREDITS'].unique())

[   nan  3.     5.     1.     4.     2.     0.     6.     3.34  36.
  2.67   1.5    0.67   8.     0.5    2.66   1.33   1.99   3.75   3.66
  3.33   1.34   2.33   3.5    5.33   3.3    3.333  3.25   3.6    2.6
  0.34  12.    10.     1.67   1.3    9.     4.5  ]

In [59]:
add_max_sat_df = add_max_sat_col(relevant_student_df)
print(add_max_sat_df['MAX_SAT_SCR'].unique())

[1340. 1310. 1270. 1370. 1080.   nan 1400. 1420. 1430. 1500. 1240. 1230.
 1250. 1210. 1180. 1220. 1360. 1530. 1460. 1560. 1580. 1320. 1260. 1540.
 1410. 1280. 1380. 1490. 1520. 1110. 1590. 1350. 1440. 1450. 1120. 1470.
 1300.  930. 1600. 1390. 1550. 1140. 1200. 1040. 1290. 1330. 1510. 1030.
 1570. 1190. 1480. 1170. 1150. 1060. 1100. 1000. 1010. 1090.  970. 1160.
 1020. 1130.  890. 1050.  800.  980. 1070.  950.  900.  990.  910.  850.
  960.  880.    0.  920.  830.  940.  870.  860.  840.  630.  780.  810.
  820.  760.  720.  650.  770.  660.  710.  670.  730.  700.  470. 1148.]

In [ ]:
#student_term_info_df
print(term_info_df[term_info_df['PGM_1_MAJOR_1_CIP_DES'].isna()])
print("####")

# print(term_info_df[term_info_df['TERM_CD'] == 2420])

In [ ]:
print(term_info_df[term_info_df['STDNT_ID'] == 413831][['PGM_1_MAJOR_1_CIP_DES']])

In [ ]:
student_info_df

In [ ]:
print(len(student_info_df[(student_info_df['FIRST_UG_ENTRY_TYP_DES'] == 'First-Year') | (student_info_df['FIRST_UG_ENTRY_TYP_DES'] == 'First-Year Assumed')]))

In [ ]:
class_info_df

In [ ]:
transfer_info_df